<h1>New Square in Area <%= @area %></h1>
<%= form_tag(area_squares_path(@area)) do %>
  <%= label_tag(:square, "New Square:") %>
  <%= text_field_tag(:square) %>
  <%= submit_tag("Create Square") %>
<% end %>
