<div class="flex flex-col">
  <div class="flex flex-row items-center justify-between mb-4">
    <h1 class="text-3xl font-bold">Finds for <%= @area %>.<%= @square %></h1>
    <%= link_to "Back to Loci", area_square_loci_path(@area, @square), class: "btn btn-primary" %>
  </div>
  <div class="flex flex-row mb-4">
    <nav aria-label="breadcrumb">
      <ol class="flex flex-row">
        <li class="mr-2"><%= link_to 'Home', root_path, class: "text-blue-500" %></li>
        <li class="mr-2"><%= link_to "Area #{@area}", area_squares_path(@area), class: "text-blue-500" %></li>
        <li class="text-gray-500" aria-current="page"><%= "Finds for square #{@square}" %></li>
      </ol>
    </nav>
  </div>

    <div class="flex flex-row mb-4">
    <div class="w-2/12">
      <h3 class="text-lg font-bold">Field Number</h3>
    </div>
    <div class="w-1/12">
      <h3 class="text-lg font-bold">Locus</h3>
    </div>
    <div class="w-1/12">
      <h3 class="text-lg font-bold">Pail</h3>
    </div>
    <div class="w-2/12">
      <h3 class="text-lg font-bold">Pail Date</h3>
    </div>
    <div class="w-2/12">
      <h3 class="text-lg font-bold">Type</h3>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-10 align-bottom">
    <h1>Finds for <%= @area %>.<%= @square %></h1>
  </div>
  <div class="col-2 align-bottom">
    <%= link_to "Back to Loci", area_square_loci_path(@area, @square), class: "btn btn-primary float-right" %>
  </div>
</div>
<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to 'Home', root_path %></li>
        <li class="breadcrumb-item"><%= link_to "Area #{@area}", area_squares_path(@area) %></li>
        <li class="breadcrumb-item active" aria-current="page"><%= "Finds for square #{@square}" %></li>
      </ol>
    </nav>
  </div>
</div>

<div class="row">
  <div class="col-2">
    <h3>Field Number</h3>
  </div>
  <div class="col-1">
    <h3>Locus</h3>
  </div>
  <div class="col-1">
    <h3>Pail</h3>
  </div>
  <div class="col-2">
    <h3>Pail Date</h3>
  </div>
  <div class="col-2">
    <h3>Type</h3>
  </div>
  <div class="col-4">
    <h3>GPS_ID & Remarks</h3>
  </div>
</div>

<% @finds.each do |find| %>
<div class="row">
  <div class="col-2">
    <%= find.field_number %>
  </div>
  <div class="col-1">
    <%= find.locus %>
  </div>
  <div class="col-1">
    <%= find.pail_number %>
  </div>
  <div class="col-2">
    <%= find.pail_date %>
  </div>
  <div class="col-2">
    <%= find.type %>
  </div>
  <div class="col-4">
    <%= "(#{find.gis_id}): " if find.gis_id.present? %><%= find.remarks %>
  </div>
</div>
<% end %>