<div class="flex flex-col">
  <div class="flex flex-row items-center justify-between mb-5">
    <h1 class="text-3xl font-bold">Editing Locus <%= @area %>.<%= @square %>.<%= @locus_code %></h1>
    <div></div>
  </div>

  <div class="flex flex-col mb-5">
    <div class="flex flex-row mb-4">
      <div class="flex flex-col">
        <h2 class="text-2xl font-bold">Identification</h2>
      </div>
    </div>
    <div class="form-group flex flex-row mb-2">
      <label for="area" class="flex items-center justify-end w-1/6 p-2">Area</label>
      <div class="flex items-center w-1/6">
        <input type="text" readonly class="form-control" name="locus[area]" id="locus[area]" value="<%= @area %>">
      </div>
      <label for="square" class="flex items-center justify-end w-1/6 p-2">Square</label>
      <div class="flex items-center w-1/6">
        <input type="text" readonly class="form-control" name="locus[square]" id="locus[square]" value="<%= @square %>">
      </div>
      <label for="code" class="flex items-center justify-end w-1/6 p-2">Locus Code</label>
      <div class="flex items-center w-1/6">
        <input type="text" class="form-control" name="locus[code]" id="locus[code]" value="<%= @locus['code'] %>">
      </div>
    </div>
    <div class="form-group flex flex-row mb-2">
      <label for="locus_type" class="flex items-center justify-end w-1/6 p-2">Locus Type</label>
      <div class="flex items-center w-1/6">
        <input type="text" readonly class="form-control" name="locus[locus_type]" value="<%= @locus['locus_type'] %>">
      </div>
      <label for="supervisor" class="flex items-center justify-end w-1/6 p-2">Supervisor</label>
      <div class="flex items-center w-1/2">
        <input type="text" class="form-control" name="locus[supervisor]" value="<%= @locus['supervisor'] %>">
      </div>
    </div>
    <div class="form-group flex flex-row mb-2">
      <label for="start_date" class="flex items-center justify-end w-1/6 p-2">Start Date</label>
      <div class="flex items-center w-1/6">
        <%# calendar svg %>
        <input type="text" id="start_date" class="form-control" name="locus[start_date]" value="<%= read_date @locus['start_date'] %>" style="background-image: url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 fill=%22none%22 viewBox=%220 0 24 24%22 stroke=%22%236b7280%22 stroke-width=%222%22%3E%3Cpath stroke-linecap=%22round%22 stroke-linejoin=%22round%22 d=%22M8 7V3m8 4V3M3 11h18M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z%22/%3E%3C/svg%3E'); background-repeat: no-repeat; background-position: right 0.5rem center; background-size: 1rem 1rem;">
      </div>
      <label for="end_date" class="flex items-center justify-end w-1/6 p-2">End Date</label>
      <div class="flex items-center w-1/6">
        <%# calendar svg %>
        <input type="text" id="end_date" class="form-control" name="locus[end_date]" value="<%= read_date @locus['end_date'] %>" style="background-image: url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 fill=%22none%22 viewBox=%220 0 24 24%22 stroke=%22%236b7280%22 stroke-width=%222%22%3E%3Cpath stroke-linecap=%22round%22 stroke-linejoin=%22round%22 d=%22M8 7V3m8 4V3M3 11h18M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z%22/%3E%3C/svg%3E'); background-repeat: no-repeat; background-position: right 0.5rem center; background-size: 1rem 1rem;">
      </div>
    </div>

    <div class="form-group flex flex-row mb-2">
      <label for="designation" class="flex items-center justify-end w-1/6 p-2">Designation</label>
      <div class="flex items-center w-5/6">
        <textarea class="form-control" id="locus[designation]" name="locus[designation]" rows="5"><%= @locus['designation'] %></textarea>
      </div>
    </div>
  </div>

  <div class="flex flex-col mb-5">
    <div class="flex flex-row mb-4">
      <div class="flex flex-col">
        <h2 class="text-2xl font-bold">Rationale</h2>
      </div>
    </div>
    <div class="form-group flex flex-row mb-2">
      <label for="reason" class="flex items-center justify-end w-1/6 p-2">Reason</label>
      <div class="flex items-center w-5/6">
        <textarea class="form-control" id="locus[reason]" name="locus[reason]" rows="5"><%= @locus['reason'] %></textarea>
      </div>
    </div>

    <div class="form-group flex flex-row mb-2">
      <label for="top_separation" class="flex items-center justify-end w-1/6 p-2">Top Separation</label>
      <div class="flex items-center w-5/6">
        <div class="form-check form-check-inline mr-6">
          <input class="form-check-input" type="radio" name="locus[top_separation]" id="top_separation_very_clear" value="Very Clear" <%= 'checked' if @locus['top_separation'] == 'Very Clear' %>>
          <label class="form-check-label" for="top_separation_very_clear">Very Clear</label>
        </div>
        <div class="form-check form-check-inline mr-6">
          <input class="form-check-input" type="radio" name="locus[top_separation]" id="top_separation_clear" value="Clear" <%= 'checked' if @locus['top_separation'] == 'Clear' %>>
          <label class="form-check-label" for="top_separation_clear">Clear</label>
        </div>
        <div class="form-check form-check-inline mr-6">
          <input class="form-check-input" type="radio" name="locus[top_separation]" id="top_separation_average" value="Average" <%= 'checked' if @locus['top_separation'] == 'Average' %>>
          <label class="form-check-label" for="top_separation_average">Average</label>
        </div>
        <div class="form-check form-check-inline mr-6">
          <input class="form-check-input" type="radio" name="locus[top_separation]" id="top_separation_unclear" value="Unclear" <%= 'checked' if @locus['top_separation'] == 'Unclear' %>>
          <label class="form-check-label" for="top_separation_unclear">Unclear</label>
        </div>
        <div class="form-check form-check-inline mr-6">
          <input class="form-check-input" type="radio" name="locus[top_separation]" id="top_separation_very_unclear" value="Very Unclear" <%= 'checked' if @locus['top_separation'] == 'Very Unclear' %>>
          <label class="form-check-label" for="top_separation_very_unclear">Very Unclear</label>
        </div>
        <div class="form-check form-check-inline mr-6">
          <input class="form-check-input" type="radio" name="locus[top_separation]" id="top_separation_arbitrary" value="Arbitrary" <%= 'checked' if @locus['top_separation'] == 'Arbitrary' %>>
          <label class="form-check-label" for="top_separation_arbitrary">Arbitrary</label>
        </div>
      </div>
    </div>

    <div class="form-group flex flex-row mb-2">
      <label for="bottom_separation" class="flex items-center justify-end w-1/6 p-2">Bottom Separation</label>
      <div class="flex items-center w-5/6">
        <div class="form-check form-check-inline mr-6">
          <input class="form-check-input" type="radio" name="locus[bottom_separation]" id="bottom_separation_very_clear" value="Very Clear" <%= 'checked' if @locus['bottom_separation'] == 'Very Clear' %>>
          <label class="form-check-label" for="bottom_separation_very_clear">Very Clear</label>
        </div>
        <div class="form-check form-check-inline mr-6">
          <input class="form-check-input" type="radio" name="locus[bottom_separation]" id="bottom_separation_clear" value="Clear" <%= 'checked' if @locus['bottom_separation'] == 'Clear' %>>
          <label class="form-check-label" for="bottom_separation_clear">Clear</label>
        </div>
        <div class="form-check form-check-inline mr-6">
          <input class="form-check-input" type="radio" name="locus[bottom_separation]" id="bottom_separation_average" value="Average" <%= 'checked' if @locus['bottom_separation'] == 'Average'%>>
          <label class="form-check-label" for="bottom_separation_average">Average</label>
        </div>
        <div class="form-check form-check-inline mr-6">
          <input class="form-check-input" type="radio" name="locus[bottom_separation]" id="bottom_separation_unclear" value="Unclear" <%= 'checked' if @locus['bottom_separation'] == 'Unclear' %>>
          <label class="form-check-label" for="bottom_separation_unclear">Unclear</label>
        </div>
        <div class="form-check form-check-inline mr-6">
          <input class="form-check-input" type="radio" name="locus[bottom_separation]" id="bottom_separation_very_unclear" value="Very Unclear" <%= 'checked' if @locus['bottom_separation'] == 'Very Unclear' %>>
          <label class="form-check-label" for="bottom_separation_very_unclear">Very Unclear</label>
        </div>
        <div class="form-check form-check-inline mr-6">
          <input class="form-check-input" type="radio" name="locus[bottom_separation]" id="bottom_separation_arbitrary" value="Arbitrary" <%= 'checked' if @locus['bottom_separation'] == 'Arbitrary' %>>
          <label class="form-check-label" for="bottom_separation_arbitrary">Arbitrary</label>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $( "#start_date" ).datepicker({
    dateFormat: "dd M, yy"
  });

  $( "#end_date" ).datepicker({
    dateFormat: "dd M, yy"
  });
</script>
