<h1>General</h1>

<h2 class="ls-sub">Identification</h2>
<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
  <div>
    <label for="locus_area">Area</label>
    <input type="text" readonly name="locus[area]" id="locus_area" value="<%= @area %>">
  </div>
  <div>
    <label for="locus_square">Square</label>
    <input type="text" readonly name="locus[square]" id="locus_square" value="<%= @square %>">
  </div>
  <div>
    <label for="locus_code">Locus Code</label>
    <input type="text" name="locus[code]" id="locus_code" value="<%= @locus['code'] %>">
  </div>
  <div>
    <label for="locus_type">Locus Type</label>
    <input type="text" readonly name="locus[locus_type]" id="locus_type" value="<%= @locus['locus_type'] %>">
  </div>
  <div class="sm:col-span-2">
    <label for="locus_supervisor">Supervisor</label>
    <input type="text" name="locus[supervisor]" id="locus_supervisor" value="<%= @locus['supervisor'] %>">
  </div>
  <div>
    <label for="start_date">Start Date</label>
    <input type="text" id="start_date" name="locus[start_date]" value="<%= read_date @locus['start_date'] %>" autocomplete="off">
  </div>
  <div>
    <label for="end_date">End Date</label>
    <input type="text" id="end_date" name="locus[end_date]" value="<%= read_date @locus['end_date'] %>" autocomplete="off">
  </div>
</div>

<div class="mt-4">
  <label for="locus_designation">Designation</label>
  <textarea id="locus_designation" name="locus[designation]" rows="4"><%= @locus['designation'] %></textarea>
</div>

<h2 class="ls-sub">Rationale</h2>
<div>
  <label for="locus_reason">Reason</label>
  <textarea id="locus_reason" name="locus[reason]" rows="4"><%= @locus['reason'] %></textarea>
</div>

<% separation_values = ['Very Clear', 'Clear', 'Average', 'Unclear', 'Very Unclear', 'Arbitrary'] %>
<div class="mt-4">
  <label>Top Separation</label>
  <div class="ls-choices">
    <% separation_values.each do |opt| %>
      <label class="ls-choice">
        <input type="radio" name="locus[top_separation]" value="<%= opt %>" <%= 'checked' if @locus['top_separation'] == opt %>>
        <%= opt %>
      </label>
    <% end %>
  </div>
</div>
<div class="mt-4">
  <label>Bottom Separation</label>
  <div class="ls-choices">
    <% separation_values.each do |opt| %>
      <label class="ls-choice">
        <input type="radio" name="locus[bottom_separation]" value="<%= opt %>" <%= 'checked' if @locus['bottom_separation'] == opt %>>
        <%= opt %>
      </label>
    <% end %>
  </div>
</div>

<script>
  $(function () {
    $("#start_date").datepicker({ dateFormat: "d MM, yy" });
    $("#end_date").datepicker({ dateFormat: "d MM, yy" });
  });
</script>
