<div class="row">
  <div class="col">
    <h1>Pails</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Number</th>
          <th>Date</th>
          <th>Baskets</th>
          <th>Total</th>
          <th>Diagnostic</th>
          <th>Published</th>
        </tr>
      </thead>
      <tbody>
        <% @locus.dig('pails').each do |pail| %>
          <tr>
            <td><%= pail["pail_number"] %></td>
            <td><%= read_date pail["pail_date"] %></td>
            <td><%= pail["baskets"] %></td>
            <td><%= pail["total_count"] %></td>
            <td><%= pail["diagnostic_count"] %></td>
            <td><%= pail["publish"] %></td>
          </tr>
          <% if pail["pottery_comments"].present? %>
          <tr>
            <td></td>
            <td>Comments:</td>
            <td colspan="4"><%= pail["pottery_comments"] %></td>
          </tr>
          <% end %>
          <% if pail['readings'].present? %>
            <tr>
              <td></td>
              <td colspan="5">
                <h4>Pottery Readings</h4>
                <table class="table">
                  <thead>
                    <tr>
                      <th>Count</th>
                      <th>Quantity modifier</th>
                      <th>Form</th>
                      <th>Period</th>
                      <th>Period modifier</th>
                      <th>Question</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% pail.dig('readings').each do |reading| %>
                      <tr>
                        <td><%= reading['count'] %></td>
                        <td><%= reading['quantity_modifier'] %></td>
                        <td><%= reading['pot_form'] %></td>
                        <td><%= reading['age'] %></td>
                        <td><%= reading['time_level'] %></td>
                        <td><%= reading['question'] %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </td>
            </tr>
          <% end %>
          <% if pail['finds'].present? %>
            <tr>
              <td></td>
              <td colspan="5">
                <h4>Field Finds and Samples</h4>
                <table class="table">
                  <thead>
                    <tr>
                      <th>Field Number</th>
                      <th>Registration Number</th>
                      <th>Designation</th>
                      <th>GPS ID</th>
                      <th>Condition</th>
                      <th>Origin</th>
                      <th>Remarks</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% pail.dig('finds').each do |find| %>
                      <tr>
                        <td><%= find['field_number'] %></td>
                        <td><%= find['registration_number'] %></td>
                        <td><%= find['type'] %></td>
                        <td><%= find['gps_id'] %></td>
                        <td><%= find['condition'] %></td>
                        <td><%= find['origin'] %></td>
                        <td><%= find['remarks'] %></td>
                        <td><%= find['state'] %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>