<div class="form-row photo-row" data-photo-index=<%= index %>>
  <div class="repeat-row__head">
    <p class="repeat-row__title">Photo<%= " #{photo['number']}" if photo['number'].present? %></p>
    <button name="button" onclick="removeThisPhoto(this);" type="button" class="btn btn-danger btn-sm">Remove photo</button>
  </div>
  <div class="form-group col-md-3">
    <%= label_tag "locus[photos[#{index}][date]]", "Date" %>
    <%= text_field_tag "locus[photos[#{index}][date]]", iso_date(photo['date']), type: 'date', class: 'form-control' %>
  </div>
  <div class="form-group col-md-3">
    <%= label_tag "locus[photos[#{index}][number]]", "Number" %>
    <%= text_field_tag "locus[photos[#{index}][number]]", photo['number'], class: 'form-control' %>
  </div>
  <div class="form-group col-md-3">
    <%= label_tag "locus[photos[#{index}][subject]]", "Subject" %>
    <%= text_field_tag "locus[photos[#{index}][subject]]", photo['subject'], class: 'form-control' %>
  </div>
</div>
