<div class="container mx-auto max-w-4xl px-2 py-8">
  <nav class="text-sm text-[#6a5d4c] mb-2">
    <%= link_to "Home", root_path, class: "hover:text-[#b1542b]" %>
    <span class="mx-1" aria-hidden="true">/</span>
    <%= link_to "Area #{@area}", area_squares_path(@area), class: "hover:text-[#b1542b]" %>
    <span class="mx-1" aria-hidden="true">/</span>
    <%= link_to "Square #{@square}", area_square_loci_path(@area, @square), class: "hover:text-[#b1542b]" %>
    <span class="mx-1" aria-hidden="true">/</span>
    <%= link_to "Locus #{@area}.#{@square}.#{@locus_code}", area_square_locus_path(@area, @square, @locus_code), class: "hover:text-[#b1542b]" %>
  </nav>
  <h1 class="font-serif text-4xl text-[#2a231b] mb-6">Editing Locus <%= @area %>.<%= @square %>.<%= @locus_code %></h1>

  <div class="od-form">
    <%= form_with(url: area_square_locus_path(@area, @square, @locus_code), method: 'patch', local: true) do |locus_form| %>
      <%= render 'form', locus_form: locus_form %>
    <% end %>
  </div>

  <%= render 'shared/navigation_safety' %>
</div>

<%= render 'shared/edit_form_theme' %>
