<div class="container">
  <div class="row">
    <div class="col-10 align-bottom">
      <h1>Field find or Sample #<%#= @find.field_number %></h1>
    </div>
    <div class="col-2 align-bottom">
      <%= link_to "Back", registrar_path(id: @item_id, pail_id: @pail_id, item_number: @item_number, item_locus_code: @item_locus_code), class: "btn btn-primary float-right" %>

    </div>
  </div>
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><%= link_to 'Registrar Home', registrar_index_path %></li>
          <li class="breadcrumb-item"><%= link_to "Locus #{@area}.#{@square}.#{@locus_code}", area_square_locus_path(@area, @square, @locus_code) %></li>
          <li class="breadcrumb-item">Pail Number <%= @pail_id %></li>
        </ol>
      </nav>
    </div>
  </div>
</div>

<%= form_with(url: registrar_path(id: @item_id, pail_id: @pail_id, item_number: @item_number, item_locus_code: @item_locus_code), method: 'patch', local: true) do |form| %>
  <%= render 'form', form: form %>
<% end %>

<%= render 'shared/navigation_safety' %>